* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

     font-size: 20px;
}

.container {
     min-height: 100vh;

     display: flex;
     flex-direction: column;
}

.header {
     width: 100%;
     min-height: 40px; /* Nosso Header terá no minimo altura 40px, isso é para quando quebrar a página */
     padding: 30px;
     background-color: #292929;

     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
     gap: 8px 15px; /* Distanciamento entre elementos */ 
}

.logoNavBar {
     width: 180px;
}

.headerBtnGroup {
     display: flex;
     gap: 15px; /* Distanciamento entro buttons */
}

.navBtn {
     font-size: 16px;
     padding: 6px;
     background-color: transparent;
     border: 2px solid transparent; /* Importante definir, já separando o espaço dela */
     color: white;
     cursor: pointer;
     transition: 0.4s;
}

.navBtn:hover {
     border-bottom: 2px solid black;
}

.sectionTitle {
     font-size: 26px;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     padding-top: 20px;
}

.sectionDescription {
     text-align: center;
     color: #383838;
}

.gridContainer {
     display: grid;
     grid-template-columns: 3fr 1fr;
     grid-template-areas: 
     "mainContent sidebarContent";

     padding: 20px;
     flex: 1 0 auto;
}

.categoryCard:hover {
     border-color: black;
}

.mainContent {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 10px;
     grid-area: mainContent;
}

.categoryCard {
     width: 280px;
     height: 380px;
     border: 2px solid transparent;
     border-radius: 10px;
     transition: 0.5s;
     cursor: pointer;
}

.mainCardImg {
     width: 100%; /* Quero que ocupe toda largura que ele tem disponivel no grid */
     height: 180px;
     border-radius: 10px;
}

.mainCategoryCardTitle {
     font-family: Arial, Helvetica, sans-serif;
     padding: 6px;
}

.mainCategoryCardDescription {
     padding: 6px;
}

.sidebarContent {
     padding: 16px;
     background-color: #383838;
     color: white;
     border-radius: 10px;

     display: flex;
     flex-direction: column;
     align-items: center;
     min-width: 300px;

     grid-area: sidebarContent;
     gap: 20px;
}

.sidebarCard {
     width: 75%;
     border: 1px solid transparent;
     border-radius: 10px;
     transition: 0.5s;
     cursor:pointer
}

.sidebarCard:hover {
     border-color: gainsboro;
}

.sidebarCardImg {
     width: 100%;  /* Quero que ocupe toda largura que ele tem disponivel no grid */
     border-radius: 10px;
}

.sidebarCardTitle {
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     padding: 10px;
}

.footer {
     width: 100%;
     min-height: 40px;
     padding: 30px;
     background-color: #292929;

     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     gap: 15px;
}

.footerAnchor {
     color: white;
     text-decoration: none;
     border-bottom: 1px solid transparent;
     padding-bottom: 5px;
     transition: 0.4s;
}

.footerAnchor:hover {
     border-color: black;
}

.logoFooter {
     width: 180px;
}

@media (max-width: 630px) {
     .gridContainer {
          grid-template-areas: 
          "mainContent"
          "sidebarContent";

          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
     }

     .sidebarContent {
          min-width: auto;
     }

     .footer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }

     .footerAnchor {
          color: white;
          text-decoration: none;
          font-size: 15px;
     }

     .logoFooter {
          display: none;
     }
}

@media (max-width: 463px) {
     .header {
          justify-content: center;
     }

     .footer {
          justify-content: center;
     }
}

@media (max-width: 353px) {
     .footerAnchor {
          font-size: 12px;
     }
}